@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,100;1,300;1,400&family=Roboto:ital,wght@0,400;0,500;1,100;1,300;1,700&display=swap?family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; 
font-family: 'Source Code Pro', monospace;*/

/* General */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    height: auto;
    color: #000;
    background-color: #fff;
}

.bottom-border {
    border-bottom: 2px solid #000;
}

/* Colors */

.navbar-background-color {
    background-color: #5B98B7;
}

.bg-color-navbar-toggler {
    color: #dbeefa;
}

.bg-color-footer {
    background-color: rgb(214, 207, 207);
}

/* Header */

/* first-belt */

.first-belt {
    width: 100%;
    height: 50px;
    background: #5B98B7;
    color: #dbeefa;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 50px;
    text-align: center;
}

/* second-belt */

.second-belt {
    height: 60px;
    width: 100%;
    position: relative;
}

.brand {
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    position: absolute;
    line-height: 60px;


}

.brand a {
    margin-left: 20px;
    text-decoration: none;
    color: #5B98B7;
}

.brand a i {
    color: rgb(143, 219, 67);
    font-size: 120%;
}

/* Search Bar */
#searchIcon {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
}

#searchIcon span {
    margin-left: 50%;
}

#searchIcon span i {
    color: rgb(138, 136, 136);
    font-size: 130%;
    margin-top: 20px;
    cursor: pointer;
}

/* Search  */
.search {
    margin: 20px 0;
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 30px 40px;
}

.search-text-grid {
    min-width: 33%;
    grid-area: 1/2/2/3;
    text-align: center;
    position: relative;
}

.search-text {
    width: 100%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(138, 136, 136);
}

.searchForm-grid {
    min-width: 33%;
    grid-area: 2/2/3/3;
    position: relative;
}

#searchForm {
    height: 30px;
    margin: 0 auto;
}

#searchForm input {
    width: 100%;
    height: 30px;
    border: 1.5px solid rgb(138, 136, 136);
    border-radius: 4px;
    background-color: #fff;
    color: rgb(138, 136, 136);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.form-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5%;
}

.form-icon i {
    font-size: 120%;
    color: rgb(138, 136, 136);
    cursor: pointer;
}

/* ResultsCount */

#ResultsCount {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: #000;
    line-height: 50px;
    text-align: center;
}

/* Bootsrap */

/* Navbar */

.navbar {
    height: 70px;
}

.navbar-toggler {
    margin-right: 15px;
    color: #dbeefa;
    font-size: 120%;
    margin-left: 15px;
}

.navbar-nav {
    border: 2px solid #000;
    text-align: center;
    width: 60%;
    margin-left: 10px;
    margin-top: 35px;
    margin-bottom: 0;
}

.nav-item {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #5B98B7;
    height: 50px;
    background-color: #fff;
}

a.nav-link {
    color: #5B98B7;
}

.subscribe {
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}



.nav-link.active {
    color: #000;
}

.hover-nav-brand {
    color: darkgreen;
}

.hover-nav-item {
    background-color: beige;
    color: #e21515;
}

.hover-nav-link-active {
    border-color: #e21515;
    color: #000;
}

/* recipes-highlight */

.recipes-highlight {
    height: 750px;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 55% 5% 30% 5%;
    grid-template-rows: auto auto;
}

.recipes-highlight-photo {
    height: 400px;
    width: 100%;
    grid-area: 1/1/2/6;
    position: relative;
}

.recipes-highlight-header {
    position: absolute;
    top: 50px;
    left: 25%;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 24px;
    color: #f1620e;


    

}

.recipes-highlight-photo img {
    width: 100%;
    height: 100%;
    border-bottom: 4px solid #5B98B7;
}



.allergens-recipes {
    margin-top: 5%;
    width: 100%;
    height: 320px;
    border: 2px dashed #5B98B7;
    color: rgb(138, 136, 136);
    grid-area: 2/2/3/5;

}

.allergens-recipes-header {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 5% 15px;
}

.hr-allergens-recipes {
    width: 50%;
    margin: 0 auto;
    background-color: #5B98B7;
    border: 1px solid #1085c0;
}

.allergens {
    line-height: 2;
    padding-left: 5%;
}

.allergens li {
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    width: 80%;
    padding-left: 5%;
    cursor: pointer;
}

.allergens li i {
    margin-right: 5%;
    color: rgb(143, 219, 67);
    font-size: 120%;
}

/* search-suggestion */

.search-suggestion {
    margin: 50px 0;
    width: 100%;
}
.search-suggestion-container{
    width: 100%;
    display: grid;
    text-align: center;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 80px repeat(6, 100px);
    color: rgb(138, 136, 136);
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
}

.number-recipes{
    grid-area: 1/2/2/4;
    position: relative;
}

.by-ingredient{
    grid-area: 2/2/3/4;
    position: relative;
}

.winter{
    grid-area: 3/2/4/4;
    position: relative;
}

.vegetarian {
    grid-area: 4/2/5/4;
    position: relative;
}

.deserts {
    grid-area: 5/2/6/4;
    position: relative;
}

.lunch {
    grid-area: 6/2/7/4;
    position: relative;
}

.italian {
    grid-area: 7/2/8/4;
    position: relative;
}

.suggestion-text {
    position: absolute;
    height: 80px;
    width: auto;
    top: 45px;
    left: 140px;
}

.suggestion-incon {
    position: absolute;
    left: 40px;
    top: 20px;
    width: 80px;
    height: 80px;
    border: 2px dashed #5B98B7;
    border-radius: 10px;
}

.suggestion-incon i {
    color: #5B98B7;
    font-size: 300%;
    margin-top: 20%;
   
}

.number-recipes h3{
    font-size: 24px;
}

.number-recipes h3 span {
    display: block;
    color: #5B98B7;
    font-size: 40px;
}

/* Media Queries */
@media(max-width:300px) {

    /* first-belt */

    .brand a i {
        display: none;
    }

    .second-belt

    /* second-belt */
    #searchIcon span {
        margin-left: 0;
    }

    /* search */

    .search {
        height: 90px;
        grid-template-rows: 50px 40px;
    }


    #searchForm {
        margin-right: 15px;
        margin-left: 15px;
    }

    .form-icon {
        right: 15px;
    }

}

@media(min-width:558px) {

    /* First-belt */
    .first-belt {
        font-size: 18px;
        font-weight: 600;
        text-align: right;
        padding-right: 20px;
    }

    /* second-belt */

    .brand {
        width: 70%;
        font-weight: 600;
        font-size: 18px;
    }

    .brand a i {
        margin-left: 5px;
    }

    #searchIcon span {
        margin-left: 70%;
    }

    /* search */

    #searchForm {
        width: 60%;
    }

    .form-icon {
        right: 22%;
    }

    /* Navbar */
    .navbar-nav {
        border: none;
        width: 100%;
        margin-top: 0;
    }

    .nav-item {
        border: none;
        background-color: #5B98B7;
        margin-left: 12%;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #dbeefa;
    }

    a.nav-link {
        color: #dbeefa;
        background-color: #5B98B7;
    }

    .subscribe {
        line-height: 40px;
    }

    .nav-link.active {
        color: #fff;
        text-shadow: 1px 1px #000;
    }

    /* search-suggestion */

    .search-suggestion-container{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 70px repeat(3, 100px);
    }
    
    .number-recipes{
        grid-area: 1/2/2/6;
        text-align: center;
    }
    
    .by-ingredient{
        grid-area: 2/2/3/4;
    }
    
    .winter{
        grid-area: 2/4/3/6;
    }
    
    .vegetarian {
        grid-area: 3/2/4/4;
    }
    
    .deserts {
        grid-area: 3/4/4/6;
    }
    
    .lunch {
        grid-area: 4/2/5/4;
    }
    
    .italian {
        grid-area: 4/4/5/6;
    }

    .suggestion-text {
        left: 130px;
        font-size: 14px;
    }

    .number-recipes h3 span {
        display: inline-block;
        color: #5B98B7;
        margin-right: 30px;
       
    }
}

@media(min-width: 557px) and (max-width: 850px){
    .allergens-recipes {
        margin-top: 50px;
        margin-left: 40px;
        grid-area: 2/1/3/4;   
    }
} 

@media(min-width:850px) {

    /* second-belt */

    #searchIcon span {
        margin-left: 80%;
    }

    .nav-item {
        margin-left: 15%;
    }

    /* recipes-highlight */

.recipes-highlight {
    height: 750px;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 55% 5% 30% 5%;
    grid-template-rows: auto auto;
}

.recipes-highlight-photo {
    height: 400px;
    width: 100%;
    grid-area: 1/1/2/6;
    position: relative;
}

.recipes-highlight-header {
    position: absolute;
    top: 50px;
    left: 25%;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 24px;
    color: #f1620e;
    
}

.recipes-highlight-photo img {
    width: 100%;
    height: 100%;
    border-bottom: 4px solid #5B98B7;
}



.allergens-recipes {
    margin-top: 5%;
    width: 100%;
    height: 320px;
    border: 2px dashed #5B98B7;
    color: rgb(138, 136, 136);
    grid-area: 2/2/3/5;

}

.allergens-recipes-header {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 5% 15px;
}

.hr-allergens-recipes {
    width: 50%;
    margin: 0 auto;
    background-color: #5B98B7;
    border: 1px solid #1085c0;
}

.allergens {
    line-height: 2;
    padding-left: 5%;
}

.allergens li {
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    width: 80%;
    padding-left: 5%;
    cursor: pointer;
}

.allergens li i {
    margin-right: 5%;
    color: rgb(143, 219, 67);
    font-size: 120%;
}
      /* recipes-highlight */

.recipes-highlight{
    height: 450px;
}

.recipes-highlight-photo {
    height: 450px;
    grid-area: 1/1/3/3;
}

.recipes-highlight-photo img {
    border-bottom: none;
}

.allergens-recipes {
    margin-top: 90px;
    grid-area: 1/4/3/5;
}

    /* search-suggestion */

    .search-suggestion-container{
        grid-template-columns: repeat(10, 1fr);
    }
    
    .number-recipes{
        grid-area: 1/4/2/8;
    }
    
    .by-ingredient{
        grid-area: 2/2/3/5;
    }
    
    .winter{
        grid-area: 2/5/3/8;
    }
    
    .vegetarian {
        grid-area: 2/8/3/10;
    }
    
    .deserts {
        grid-area: 3/2/4/5;
    }
    
    .lunch {
        grid-area: 3/5/4/8;
    }
    
    .italian {
        grid-area: 3/8/4/10;
    }
}